<!DOCTYPE html>
<html lang="en">
<head>
    <title>Application Submitted</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'nav.html' %}
    <div id="container">
        <img style="margin-bottom: 30px;" id="banner" src="/static/banner2.jpeg" alt="tavern-banner">
        <h1>Hearthstone Tavern</h1>

        <p style="text-align: center;">Your application for the role of <b>{{ job['title']}}</b> at Hearthstone Tavern has been submitted, We will get back to you soon</p>
        <b class="mb-0">Full Name</b>
        <div class="mb-2">{{application['full-name']}}</div>

        <b>Email</b>
        <div class="mb-2">{{ application['email'] }}</div>
        
        <b>Profession</b>
        <div class="mb-2">{{ application['profession'] }}</div>

        <b>Abilities</b>
        <div class="mb-2">{{ application['abilities'] }}</div>

        <b>Experience</b>
        <div class="mb-2">{{ application['experience'] }}</div>
    </div>    

</body>
{% include 'footer.html' %}
</html>