<h4>Quest Application Form</h4>
<form action="/quest/{{job['id']}}/apply" method="post">
    <div class="mb-2">
        <label for="">Your name</label><br>
        <input required type="text" name="full_name" placeholder="ex: Gandalf the white">
    </div>
    <div class="mb-2">   
        <label for="">Email</label><br>
        <input required type="text" name="email" placeholder="ex: gandalfthewhite@gmail.com">
    </div>  
        <label for="">Your profession</label><br>
        <input required type="text" name="profession" placeholder="ex: Mage"> 
    <div class="mb-2">
        <label for="">Your abilities</label><br>
        <textarea required name="abilities" id="" ></textarea>
    </div>

    <div class="mb-2">
        <label for="">Your experience</label><br>
        <textarea required name="experience" id=""></textarea>
    </div>

    <input type="submit" name="Submit">
</form>