<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{job['title'] }} - Hearthstone Tavern</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'nav.html' %}
    <div id="container">
        <img style="margin-bottom: 30px;" id="banner" src="../static/banner.jpeg" alt="tavern-banner">
        <h3 class="mb-2 job-title" style="font-weight: bold;">{{ job['title'] }}</h3>
        <p class="lead mt-0 job-location" style="font-weight: bold;">{{ job['location'] }}</p>
        <h4>Requirements</h4>
        <ul>
            {% for line in job['requirements'].split(".") %}
            <li>{{ line }}</li>
            {% endfor %}
        </ul>
        <h4>Responsibilities</h4>
        <ul>
            {% for line in job['responsibilities'].split(".") %}
            <li>{{ line }}</li>
            {% endfor %}
        </ul>
        <h4>Salary</h4>
        <p>{{ job['salary'] }} {{ job['currency'] }}</p>
        {% include 'application_form.html' %}
    </div>    
    {% include 'footer.html' %}
</body>
</html>