<div class="border-bottom row" style="margin-bottom: 16px; padding-bottom: 8px;">
   <div class="col-9">
        <h4 class="job-title">{{ job['title'] }}</h4>
        <div class="job-location">
            <b>Location: </b>{{ job['location'] }}
        </div>
        <div class="job-location">
            <b>Salary:</b> {{ job['salary'] }}
        </div>
    </div>
    <div class="col-3">
        <a href="mailto:ducanhvui123@gmail.com?subject=I%20want%20to%20join%20a%20party%20for%20quest%20XXX&body=My%20name%3A%20%3CYour%20name%20goes%20here%3E%0D%0A%0D%0AMy%20talent%3A%20%3CYour%20talent%20goes%20here%3E%0D%0A%0D%0AMy%20job%2Fclass%3A%20%3CYour%20job%2Fclass%20goes%20here%3E" id="embark" type="button" class="btn btn-success">Embark</a>
    </div>
    
</div>